/* src/index.css o src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Utilidades personalizadas */
@layer components {
  .input {
    @apply mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
  }
  .btn {
    @apply flex items-center justify-center py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white transition duration-300 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .btn-primary {
    @apply bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
  .btn-secondary {
    @apply bg-white text-gray-700 border-gray-300 hover:bg-gray-50;
  }
}

/* Clases reutilizadas en GameCard */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}